
.land-page{
  width: 100%;
  /* float: left; */
}

.back-img{ 
  display: none;
  overflow: hidden;
}
.land-page>section{
  z-index: 5;
  position: relative;
}
.land-page h3{
  text-align: left;
}
.search{
  max-width: 100%;
  /* padding: 0 10px; */
  text-align: center;
  min-height: 150px;
  position: relative;
  z-index: 5;
  color: white;
}
.search h2{
  display: inline-block;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0 0 5px blue;
}
/* .search a{
  display: inline-block;
  padding: 5px;
  background: #F7941D;
  margin: 5px 2px;
  border-radius: 5px;
  color: white;
} */
.search-form{
  width: 100%;
}
.search-form div{
  display: inline-block;
  margin: 4px 0;
  width: 80%;
}
.search-form>div>input{
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  outline: none;
  width: 50%;
  padding: 10px 5px;
}
.search-form>div>input:nth-child(1){
  border-radius: 5px 0 0 5px;
}
/* .search-form>div>input:nth-child(2){
  border-radius: 0 5px 5px 0;
} */
.search-form input[type=submit]{
  width: 20%;
  cursor: pointer;
  background: #F7941D;
  border: none;
  padding: 11px;
  color: white;
  font-weight: 800;
  border-radius: 0 5px 5px 0;
}

.categories-slideshow {
  padding: 20px 0;
  text-align: center;
}
/* .categories-slideshow ul li{
  background: #f0f0f0;
  display: inline-block;
  width: 30%;
  /* max-width: 90%; 
  min-height: 100px;
  margin: 5px;
  border-radius: 5px;
} */
.carousel-cell{
  background: rgba(236, 234, 234, 0.733);
  color: black;
  display: inline-block;
  width: 30%;
  padding: 5%;
  /* max-width: 90%; */
  max-height: 120px;
  margin: 5px;
  border-radius: 5px;
}
.carousel-cell:nth-child(even){
  background: rgba(213, 216, 255, 0.774);
  color: rgb(0, 0, 0);
}
.carousel-cell i{
  padding-top: auto;
  font-size: 70px;
}
.near-you{
  margin-top: 10%;
  text-align: center;
}
.near-you div{
  background: #f0f0f0;
  display: inline-block;
  width: 500px;
  min-height: 100px;
  max-width: 100%;

  border-radius: 5px;
  margin: 4px 0;
  text-align: left;
  box-shadow: 5px 5px 6px #f0f0f0;
}
.near-you>div>img{
  display: block;
  float: left;
  width: 120px;
  height: 120px;
  margin: 5px;
  overflow: hidden;
  background: grey;
  border-radius: 5px;
}
.near-you button{
  display: block;
  margin: 0 30%;
}
.search-category{
  padding-top: 5%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search-category h3{
  width: 100%;
}
.search-category div{
  background: #f0f0f0;
  display: block;
  width: 30%;
  max-width: 100%;
  height: 100px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px #b8b8b8;
}

.advertise{
  text-align: center;
  padding: 5%;
  background: rgb(199, 199, 199);
}
.advertise p{
  display: inline-block;
  padding: 10px 5px;
}
.advertise h4{
  font-size: 30px;
}
@media screen and (max-width: 500px){
  .back-img{
    display:none;
  }
  .search{
    padding: 0 10px;
    padding-top: 20px;
    padding-bottom: 70px;
    background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgb(140, 199, 245) 100%);
    border-radius: 0 0 60px 60px;
  }
  .search h2{
    font-size: 20px;
  }
  .carousel-cell i{
    font-size: 50px; 
  }
  
}
@media screen and (min-width: 600px){
  .back-img{
    display: none;
  }
  .search-form{
    width: 90%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 40px;
  }

  .carousel{
    width: 90%;
    display: inline-block;
  }
  .carousel-cell{
    width: 250px;
    min-height: 180px;
  }
  .categories-slideshow h3{
    color: white;
  }
  .search-category div{
    width: 200px;
    height: 150px;
  }
  .advertise p{
    margin: 0px 20%;
  }

}
@media screen and (min-width: 700px){

  .back-img{
    display: block;
    width: 100%;
    height: 94vh;
    position: fixed;
    background: #f0f0f0;
    z-index: 0;
    top: 0px;
    overflow: hidden;
  }
  .back-img img{
    height: 100%;
    /* width: auto; */
  }
  .back-img div{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.644);
  }

  .land-page h3{
    width: 100%;
    padding-left: 10%;
    font-size: 30px;
  }
  .search{
    padding-top: 50px;
  }
  .near-you{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: white;
  }
  .near-you div{
    width: 30%;
    min-height: 300px;
    margin: 1%;
  }
  .near-you>div>img{
    width: 100%;
    margin: 0px;
    height: 200px;
  }
  .search-category{
    background: white;
  }
}
@media screen and (min-width: 1000px){
  .search-form{
    width: 70%;
  }
  .back-img img{
    height: auto;
    width: 100%;
  }
}
