<section class="land-page">
  <div class="back-img">
    <div></div>
    <img src="assets/images/electrician.png" >
  </div>
  <div class="search">
    <h2>Search businesses near you</h2>
    <!-- <a href="">Businesses</a>
    <a href="">Professional services</a>
    <a href="">Housing</a> -->
  <form class="search-form">
    <div>
      <input type="text" placeholder="Find  ">
      <input type="text" placeholder="Near ">
    </div>
    <input type="submit" placeholder="Search">
  </form>
</div>


  <section>
    <div class="categories-slideshow">
      <h3>Businesses</h3>
      <div class="carousel" data-flickity="{ &quot;autoPlay&quot;: true }">
        <div class="carousel-cell">
          <img src="" alt="" srcset="">
          <i class="fas fa-hotel"></i>
          <p>Hotels</p>
        </div>
        <div class="carousel-cell">
          <i class="fas fa-home"></i>
          <p>Housing</p>
        </div>
        <div class="carousel-cell">
            <i class="fas fa-shopping-bag"></i>
          <p>Shoping</p>
        </div>
        <div class="carousel-cell">
            <i class="fas fa-user-tie"></i>
          <p>Professional services</p>
        </div>
        <div class="carousel-cell">
            <i class="fas fa-wine-bottle"></i>
          <p>Bars</p>
        </div>
      </div>
    </div>

    <!-- *ngIf="Housing.length != 0 -->
    <div class="near-you" >
      <h3>Popular Businesses near you</h3>

      <div *ngFor="let house of Housing">
        <img src="{{house.image}}" alt="img">
        <h4>{{house.name}}</h4>
        <p>Rating</p>
        <p></p>
      </div>
      <hr style="width: 100%;border: none;">
      <br>
      <button type="button" name="button" class="btn">See more</button>
    </div>


    <div class="search-category">
      <h3>Search by category</h3>
      <div><p>Retailer</p></div>
      <div><p>Health Practitioner</p></div>
      <div><p>Distributor (Finished Goods)</p></div>
      <div><p>Food Service</p></div>
      <div><p>Supplier/Raw Ingredient Distributor</p></div>
      <div><p>Manufacturer</p></div>
      <div><p>Business Services</p></div>
      <div><p>Investor</p></div>
    </div>
  </section>

  <section class="advertise">
    <h4>ADVERTISE WITH US</h4>
    <p>We have a vast range of favourable packages, services and advertisement
opportunities for various businesses, real estate and professional services providers. </p>
    <button class="btn">Find out more</button>
  </section>

</section>
<!--
<div class="gallery js-flickity">
    <div class="gallery-cell">1</div>
    <div class="gallery-cell">2</div>
    <div class="gallery-cell">3</div>
    <div class="gallery-cell">4</div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
  </div> -->

