<section class="land-page">
  <div class="back-img">
    <div></div>
    <img src="assets/images/electrician.png">
  </div>
  <div class="search">
    <h2><i class="fa fa-search"></i> Search businesses near you </h2>
    <!-- <a href="">Businesses</a>
    <a href="">Professional services</a>
    <a href="">Housing</a> -->
    <form class="search-form">
      <div>
        <input type="text" [formControl]="homeSearchField" placeholder="Find  ">
        <input type="text" placeholder="Near " [formControl]="nearSearchField">
      </div>
      <input type="submit" routerLink="/search/{{homeSearchField.value}}/{{nearSearchField.value}}" value="Search">
      <ul class="filter">
      <li *ngFor="let search of SearchArray"  (click)="appendData(search.category)">{{search.category}} - {{search.name}}
      </li>
      <!-- <h2 *ngFor="let i of SearchArray"></h2> -->
    </ul>
    </form>

  </div>
<!-- routerLink="/info/{{search.id}}/housing" -->

  <section>
    <div class="categories-slideshow">
      <h3>Businesses</h3>
      <div class="carousel" data-flickity="{ &quot;autoPlay&quot;: true }">
        <div class="carousel-cell">
          <img src="" alt="" srcset="">
          <i class="fas fa-hotel"></i>
          <p>Hotels</p>
        </div>
        <div class="carousel-cell">
          <i class="fas fa-home"></i>
          <p>Housing</p>
        </div>
        <div class="carousel-cell">
          <i class="fas fa-shopping-bag"></i>
          <p>Shoping</p>
        </div>
        <div class="carousel-cell">
          <i class="fas fa-user-tie"></i>
          <p>Professional services</p>
        </div>
        <div class="carousel-cell">
          <i class="fas fa-wine-bottle"></i>
          <p>Bars</p>
        </div>
      </div>
    </div>

    <!-- *ngIf="Housing.length != 0 -->
    <div class="near-you" *ngIf="BusinessNear.length > 0">
      <h3>Popular Businesses near you</h3>

      <div *ngFor="let house of BusinessNear | slice:0:6">
        <i *ngIf="house.verified" class="fas fa-check-circle verify"></i>
        <img src="{{house.image}}" alt="img">
        <div class="detail">
          <h4>{{house.name}}</h4>
          <p>
            <i  class="fas fa-map-marker-alt"></i> {{house.city}}<br>
            <i  class="fas fa-info"></i>
             {{house.description | slice:0:30}}...<br>
            <i class="fas fa-layer-group"></i>
             {{house.category}}
          </p>
          <p class="view" routerLink="/info/{{house.id}}/business" > view</p>
        </div>
      </div>
      <hr style="width: 100%;border: none;">
      <br>
      <!-- <button type="button" name="button" class="btn">See more</button> -->
    </div>

    <div class="near-you">
      <h3>Housing near you</h3>
      <div *ngFor="let house of HousingNear  | slice:0:6">
        <i *ngIf="house.verified" class="fas fa-check-circle verify"></i>
        <img src="{{house.image}}" alt="img">
        <div class="detail">
          <h4>{{house.name}}</h4>
          <p>
            <i  class="fas fa-map-marker-alt"></i> {{house.city}}<br>
            <i  class="fas fa-info"></i>
             {{house.description | slice:0:30}}...<br>
            <i class="fas fa-layer-group"></i>
             {{house.category}}
          </p>
          <p class="view" routerLink="/info/{{house.id}}/housing" > view</p>
        </div>
      </div>
      <hr style="width: 100%;border: none;">
      <br>
      <!-- <button type="button" name="button" class="btn">See more</button> -->
    </div>

    <div class="near-you">
      <h3>Services near you</h3>
      <div *ngFor="let item of ServicesNear  | slice:0:6">
        <i *ngIf="item.verified" class="fas fa-check-circle verify"></i>
        <img src="{{item.image}}" alt="img">
        <div class="detail">
          <h4>{{item.name}}</h4>
          <p>
            <i  class="fas fa-map-marker-alt"></i> {{item.city}}<br>
            <i  class="fas fa-info"></i>
             {{item.description | slice:0:30}}...<br>
            <i class="fas fa-layer-group"></i>
             {{item.category}}
          </p>
          <p class="view" routerLink="/info/{{item.id}}/services" > view</p>
        </div>
      </div>
      <hr style="width: 100%;border: none;">
      <br>
      <!-- <button type="button" name="button" class="btn">See more</button> -->
    </div>


    <div class="search-category">
      <h3>Search by category</h3>
      <div><i class="fas fa-shopping-basket"></i><br>
        <p>Retailer</p>
      </div>
      <div><i class="fas fa-syringe"></i><br>
        <p>Health</p>
      </div>
      <div><i class="fas fa-truck-moving"></i><br>
        <p>Distributor (Finished Goods)</p>
      </div>
      <div><i class="fas fa-utensils"></i><br>
        <p>Food Service</p>
      </div>
      <div><i class="fas fa-industry"></i><br>
        <p>Manufacturer</p>
      </div>
      <div><i class="fas fa-business-time"></i><br>
        <p>Investor</p>
      </div>
    </div>
  </section>

  <section class="advertise">
    <h4>ADVERTISE WITH US</h4>
    <p>We have a vast range of favourable packages, services and advertisement
      opportunities for various businesses, real estate and professional services providers. </p>
    <a href="/list" class="btn">Find out more</a>
  </section>

</section>
<!--
<div class="gallery js-flickity">
    <div class="gallery-cell">1</div>
    <div class="gallery-cell">2</div>
    <div class="gallery-cell">3</div>
    <div class="gallery-cell">4</div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
  </div> -->
