<!-- <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-vertical-stepper formArrayName="formArray" linear>
      <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
        <ng-template matStepLabel>Business Details</ng-template>
        <h3>Business Details</h3>

          <mat-form-field class="businessOne">
            <input matInput placeholder="Business Name" type="text"  name="name" formControlName="firstCtrl" required>
          </mat-form-field><br>

          <mat-form-field class="businessOne">
            <input matInput placeholder="Description" type="text"  name="description" formControlName="secondCtrl" required>
          </mat-form-field><br>

          <mat-form-field class="businessOne">
            <input matInput placeholder="Contact" type="number"  name="contact" formControlName="thirdCtrl" required>
          </mat-form-field><br>

          <mat-form-field class="businessOne">
            <input matInput placeholder="Name of Business Owner" type="text"  name="oname" formControlName="tenthCtrl" required>
          </mat-form-field><br>

          <mat-form-field class="businessOne">
            <input matInput placeholder="Id" type="number"  name="id" formControlName="fourthCtrl" required>
          </mat-form-field><br>

        <div>
          <button id = "nextOne"  mat-button matStepperNext  type="button">Next</button>
        </div>
      </mat-step>
      <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
        <ng-template matStepLabel>Business Location</ng-template>
        <h3>Business location</h3>
          <mat-form-field class="businessTwoOne">
            <input  matInput placeholder="Address"  type="text"  name="address" (keydown.enter)="$event.preventDefault()" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search formControlName="fiveCtrl" required>
          </mat-form-field> <br>

          <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
            <agm-marker class= "map" [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
            (dragEnd)="markerDragEnd($event)" ></agm-marker>
          </agm-map>


          <mat-form-field class="businessTwoOne">
            <input matInput placeholder="City" type="text"  name="city" formControlName="sevenCtrl" required>
          </mat-form-field><br>

          <mat-form-field class="businessTwoOne">
            <input matInput placeholder="location" type="text"  name="location" formControlName="eightCtrl" required>
          </mat-form-field><br>


          <div>
            <button class = "back" mat-button matStepperPrevious type="button">Back</button>
            <button class = "next" mat-button matStepperNext type="button">Next</button>
          </div>
    muenisusan59@gmail.com
      </mat-step>
        <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
          <ng-template matStepLabel>Media</ng-template>
          <h3>Media</h3>
          <p>Listing Quality: Good quality listings are shown higher in search results and get more leads. </p>
          <div class="businessFrameMedia">
            <span style="color:#ff1111;" *ngIf="message">{{message}}</span>
            <img class="serviceDisplayPhoto" [src]="imgURL" height="200" *ngIf="imgURL">
            <input  class="chooseButton" #file type="file" accept='image/*' (change)="preview(file.files)" />
          </div>
          <div>
            <button id = "backThree" mat-button matStepperPrevious>Back</button>
          </div>
          <div class="submitA">
             <button href="/home" class="submitBusiness" type="submit">Submit</button>
          </div>
      </mat-step>
    </mat-vertical-stepper>
    </form> -->
