mat-vertical-stepper{
  margin-left: 350px;
  border-color: orange;
}
.businessOne{
  width: 600px;
}
#nextOne{
  margin-top: 20px;
  margin-left: 530px;
  background-color: orange;
}
.next{
  margin-top: 20px;
  margin-left: 30px;
  background-color: orange;
}
.back{
  margin-top: 20px;
  margin-left: 450px;
  background-color: orange;
}
.md-adults{
  width: 100px;
  height: 100px;
}
.businessTwoOne{
  width: 600px;
}
.businessTwoTwo {
  width: 300px;
}
.businessTwoThree {
  margin-left: 150px;
  width: 300px;
}
.businessFrameMedia {
  border-style: ridge;
  height: 300px;
  width: 640px;
  border-radius: 5px;
  border-color: orange;
}
#nextThree{
  margin-top: 20px;
  margin-left: 20px;
  background-color: orange;
}
#backThree{
  margin-top: 20px;
  margin-left: 500px;
  background-color: orange;
}
agm-map {
    height: 300px;
    width: 600px;
    margin-left: 200px;
}
.serviceDisplayPhoto{
  margin-top: 50px;
  margin-left: 100px;
}
.chooseButton{
  margin-top: 300px;
  padding: 10px;

}
.submitBusiness{
  width: 100px;
padding: 10px;
cursor: pointer;
font-size: 15px;
background: orange;
border-radius: 5px;
margin-left: 500px;

}
.submitA{
  margin-top: 40px;
}