<mat-vertical-stepper linear>
  <mat-step [stepControl]="formGroup1">
    <ng-template matStepLabel>Listing</ng-template>
    <h3>Listing</h3>
    <form [formGroup]="formGroup1" (ngSubmit)="onSubmit()">

      <mat-form-field class="housingOne">
        <mat-label>Type of listing</mat-label>
        <mat-select formControlName="firstCtrl" required>
          <mat-option *ngFor="let listing of listings" [value]="listing.value">
            {{listing.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field><br>

      <mat-form-field class="housingOneTwo">
        <mat-label>Choose the category</mat-label>
        <mat-select formControlName="secondCtrl" required>
          <mat-option *ngFor="let category of categories" [value]="category.value">
            {{category.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </form>
    <div>
      <button id = "nextOne" mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="formGroup2">
    <ng-template matStepLabel>Details</ng-template>
    <h3>Details</h3>
    <form [formGroup]="formGroup2" (ngSubmit)="onSubmit()">
      <mat-form-field class="housingTwoOne">
        <input  matInput placeholder="Heading"  type="text"  name="name" formControlName="thirdCtrl" required>
      </mat-form-field> <br>

      <mat-form-field class="housingTwoOne">
        <input matInput placeholder="Description"  type="text" name="description" formControlName="fourthCtrl" required>
      </mat-form-field><br>

      <mat-form-field class="housingTwoTwo">
        <input matInput placeholder="Price" formControlName="fifthCtrl" required>
      </mat-form-field>

      <mat-form-field class="housingTwoThree">
        <input matInput placeholder="Area"  formControlName="sixCtrl" (keydown.enter)="$event.preventDefault()" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search formControlName="sixCtrl" required>
      </mat-form-field><br>

      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)"></agm-marker>
      </agm-map><br>

      <mat-form-field class="housingTwoTwo">
        <input matInput placeholder="Bedrooms" formControlName="sevenCtrl" required>
      </mat-form-field>

      <mat-form-field class="housingTwoThree">
        <input matInput placeholder="Bathrooms" formControlName="eightCtrl" required>
      </mat-form-field><br>

      <mat-form-field class="housingTwoTwo">
        <input matInput placeholder="Suburb"  type="text"  name="city" formControlName="nineCtrl" required>
      </mat-form-field>

      <div>
        <button class = "back" mat-button matStepperPrevious>Back</button>
        <button class = "next" mat-button matStepperNext>Next</button>
      </div>

    </form>
  </mat-step>
  <mat-step [stepControl]="formGroup3">
    <ng-template matStepLabel>Media</ng-template>
    <h3>Media</h3>
    <p id="listingP">Listing Quality: Good quality listings are shown higher in search results and get more leads. </p><br><br>
    <div class="housingFrameMedia">
      <span style="color:red;" *ngIf="message">{{message}}</span>
      <img class="housingDisplayPhoto" [src]="imgURL" height="200" *ngIf="imgURL">
      <input  class="chooseButton" #file type="file" accept='image/*' (change)="preview(file.files)" />
    </div>
    <div>
      <button id = "backThree" mat-button matStepperPrevious>Back</button>
    </div>
    <div>
       <a href="/home" class="submitHousing" type="submit">Submit</a>
    </div>

  </mat-step>
</mat-vertical-stepper>
