mat-vertical-stepper{
  margin-left: 350px;
  border-color: orange;
}
.housingOne{
  width: 600px;
}
.housingOneTwo{
  width: 600px;
  margin-left: 0px;
  margin-top: 20px;

}
.next{
  margin-top: 20px;
  margin-left: 30px;
  background-color: orange;
}
.md-adults{
  width: 100px;
  height: 100px;
}
.housingTwoOne{
  width: 750px;
}
.housingTwoTwo {
  width: 300px;
}
.housingTwoThree {
  margin-left: 150px;
  width: 300px;
}
.finish{
  margin-top: 20px;
  background-color: orange;
}
.housingFrameMedia {
  border-style: ridge;
  height: 300px;
  width: 700px;
  border-radius: 5px;
  border-color: orange;
}
.back{
  margin-top: 20px;
  margin-left: 600px;
  background-color: orange;
}
#nextThree{
  margin-top: 20px;
  margin-left: 20px;
  background-color: orange;
}
#backThree{
  margin-top: 20px;
  margin-left: 550px;
  background-color: orange;
}
#nextOne{
  margin-top: 20px;
  margin-left: 530px;
  background-color: orange;
}
agm-map {
  height: 300px;
  width: 750px;
  margin-left: 200px;
}
.housingDisplayPhoto{
  margin-top: 50px;
  margin-left: 100px;
}
.chooseButton{
  margin-top: 300px;
  padding: 10px;
  width: 100px;
  height: 70px;
  color: orange;
}
#listingP{
  margin-top: 10px;
}
.uploadHousing{
  font-size: 14px;
  height: 30px;
  width: 100px;
  background-color: orange;
  border-radius: 5px;
  margin-top: 25px;
  margin-left: 400px;
}
.submitHousing{
  font-size: 14px;
  height: 70px;
  width: 100px;
  background-color: orange;
  border-radius: 5px;
  margin-top: 25px;
  margin-left: 550px;
}
