<hr class= "horizontalLineOne">
<h1>Grow your business with xxx</h1>
<img id="listingImage" src="assets/images/listingone.jpeg">
<p class="listingParagraphOne">- Millions of people are on Yelp looking for businesses like yours.</p>
<p class="listingParagraphTwo">- Show them why they should choose you.</p>
<p class="listingParagraphThree">- Join the community and start telling your story your way: </p>
<p class="listingParagraphFour">- Upload photos, respond to reviews, update your business info, and more.</p>
<hr class= "horizontalLineTwo">
<h2>What would you like to list?</h2>
<a href="/businessregistration"type="button" class="businessListingButton">Business Listing</a>
<a href="/housingregistration" type="button" class="housingListingButton">House Listing</a>
<a href="/serviceregistration" type="button" class="servicesListingButton">Service Listing</a>
<hr class= "horizontalLineThree">
