<div class="container">
  <img id="listingImage" src="assets/images/listingone.jpeg">
  <h1 id ="headerRegistration">Grow your business with Easy-Search</h1>
  <p class="listingParagraphOne"> Millions of people are on Easy-Search looking for businesses like yours.</p>
  <p class="listingParagraphTwo"> Show them why they should choose you.</p>
  <p class="listingParagraphThree"> Join the community and start telling your story your way: </p>
  <p class="listingParagraphFour"> Upload photos, respond to reviews, update your business info, and more.</p>
</div>
<hr class= "horizontalLineTwo">
<div class="layerTwo">
  <div class="headertwoRegistration">
    <h2 class="headerTwo">What would you like to list?</h2>
  </div>
  <a href="/housingregistration" type="button" class="housingListingButton">House Listing</a>
  <a href="/serviceregistration" type="button" class="servicesListingButton">Service Listing</a>
  <a href="/businessregistration"type="button" class="businessListingButton">Business Listing</a>
  <div class="bottom">

    </div>

</div>
