
.filter-cont{
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #0000009a;
  padding: 5px;
}
.item-cont{
  background: white;
  height: 130px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #0000009a;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.item-cont img{
  margin: 5px;
  height: 120px;
  width: 120px;
  background: blue;
}
.item-cont div{
  padding: 3px 5px;
}

.item-large-cont div i{
  width: 10px;
  text-align: center;
}

.filter-wrapper,
.keyword-wrapper {
  display: flex;
  justify-content: center;
}
.filter-wrapper {
  min-height: 100%;
  flex-flow: column wrap;
  position: relative;
  margin-top: 10px 0;
}

#keyword {
  padding: 10px;
  font: 1.5em 'Arimo', sans-serif;
  width: 50%;
  outline: none;
  transition: border 0.5s ease-in-out;
  background: #f0f0f0;
  border: none;
  outline: none;
  width: 50%;
  padding: 10px 5px;
  border-radius: 5px;
}
#keyword:focus {
  border-color : rgb(255, 153, 0);;
}
#keyword-button {
  position: absolute;
  right: 26%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.7em;
  color: #8DB9ED
}
#keyword-button:hover {
  color: #ccc
}

.filter-select {
  width: 50%;
  max-height: 400px;
  list-style: none;
  font-size: 1.1em;
  color: rgb(105, 105, 105);
  border: 1px solid #ccc;
  border-top: none;
  /*so things don't jump around*/
  position: absolute;
  left: 25%;
  top: calc(50% + 25px);
  /* max-height: calc(50% - 15px); */
  overflow-y: auto;
  background: #fff
}
.filter-select-list img {
  margin-right: 30px;
  position: relative;
  display: inline-block;
  height: 100%;
  background: blue;
}
.filter-select-list {
  height: 50px;
  cursor: pointer;
  padding: 5px 10px;
  transition: all 0.1s ease;
  border-bottom: 1px solid rgb(212, 212, 212);
}
.detail-cont{
  display: inline-block;
  position: absolute;
  transition: all 0.1s ease;

}
.detail-cont p{
  line-height: 10px;
}
.detail-cont p i{
  color: blue;
}
.filter-name {
  text-transform: capitalize;
}
.filter-select-list:hover {
  background:  rgb(255, 153, 0);
  color: #fff;
}


@media only screen and (min-width: 500px){
  .search-view{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .filter-cont{
    width: 25vw;
    height: 70vh;
  }
  .item-cont{
    height: auto;
    width: 60vw;
  }
}
@media only screen and (min-width: 1100px){
  .filter-cont{width: 20vw;}
  .item-cont{width: 55vw;}
}
@media only screen and (max-width: 768px) {
  .filter-select,
  #keyword {
    width: 80%;
  }
  #keyword {
    font-size: 1.3em
  }
  .filter-select {
    font-size: 0.9em;
    left: 10%;
    top: calc(50% + 23px);
  }
  #keyword-button {
    right: 11%
  }
}
@media only screen and (max-width: 500px) {
  .filter-select,
  #keyword {
    width: 95%;
  }
  .filter-select {
    left: 2.5%;
  }
  #keyword-button {
    right: 3.5%
  }
}
