<section class="filter-wrapper">
  <div class="keyword-wrapper">
    <input [formControl]="queryField" type="text" id="keyword" placeholder="Search for businesses..." autofocus />
  </div>
  <ul class="filter-select">
    <li *ngFor="let result of searchedResults" class="filter-select-list" (click)="checked()">
      <img src="{{result.image}}" alt="" width="50" height="50">
      <div class="detail-cont">
        <p class="filter-name">{{result.name}}</p>
        <p><i class="fas fa-map-marker-alt"></i> {{result.city}}</p>
      </div>
    </li>
    <li *ngFor="let result of businessResults" class="filter-select-list">
      <img src="{{result.image}}" alt="" width="50" height="50">
      <div class="detail-cont">
        <p class="filter-name">{{result.name}}</p>
        <p><i class="fas fa-map-marker-alt"></i> {{result.city}}</p>
      </div>
    </li>
  </ul>
</section>
<div class="loader" *ngIf="listBusiness.length < 1">
  <img src="assets/images/LIFELONGLOGO.png" alt="logo" width="150px"><br>
  <section class="ball_container_hr">
    <div class="ball_hr"></div>
    <div class="ball_hr"></div>
    <div class="ball_hr"></div>
    <div class="ball_hr"></div>
    <div class="ball_hr"></div>
    <div class="ball_hr"></div>
    <div class="ball_hr"></div>
  </section>
</div>
<section class="search-view" *ngIf="listBusiness.length != 0">

  <section class="item-large-cont">
    <div>
      <div *ngFor="let business of displayedServices" class="item-cont" routerLink="/info/{{business.id}}/services">
        <img src="{{business.image}}" alt="img" height="100%">
        <div>
          <h4>{{business.name}}</h4>
          <p><i class="fas fa-map-marker-alt"></i> {{business.city}} <br>
            <i class="fas fa-info"></i> {{business.description | slice:0:20}}...</p>
        </div>
      </div>
      <div *ngFor="let business of displayedHousing" class="item-cont" routerLink="/info/{{business.id}}/housing">
        <img src="{{business.image}}" alt="img" height="100%">
        <div>
          <h4>{{business.name}}</h4>
          <p><i class="fas fa-map-marker-alt"></i> {{business.city}} <br>
            <i class="fas fa-info"></i> {{business.description | slice:0:20}}...</p>
        </div>
      </div>
      <div *ngFor="let business of displayedBusiness" class="item-cont" routerLink="/info/{{business.id}}/business">
        <img src="{{business.image}}" alt="img" height="100%">
        <div>
          <h4>{{business.name}}</h4>
          <p><i class="fas fa-map-marker-alt"></i> {{business.city}} <br>
            <i class="fas fa-info"></i> {{business.description | slice:0:20}}...</p>
        </div>
      </div>


    </div>

  </section>

</section>
