<mat-vertical-stepper linear>
  <mat-step [stepControl]="formGroup1">
    <ng-template matStepLabel>Personal Information</ng-template>
    <h3>Personal Information</h3>
    <form [formGroup]="formGroup1">
      <mat-form-field class="serviceOne">
        <input matInput placeholder="Fist Name" formControlName="firstCtrl" required>
      </mat-form-field><br>

      <mat-form-field class="serviceOne">
        <input matInput placeholder="Last Name" formControlName="secondCtrl" required>
      </mat-form-field><br>

      <mat-form-field class="serviceOne">
        <input matInput placeholder="Email" formControlName="threeCtrl" required>
      </mat-form-field>

    </form>
    <div>
      <button id = "nextOne" mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="formGroup2">
    <ng-template matStepLabel>Profession Information</ng-template>
    <h3>Profession Information</h3>
    <form [formGroup]="formGroup2">
      <mat-form-field class="serviceTwoOne">
        <input  matInput placeholder="Your occupation" formControlName="fourCtrl" required>
      </mat-form-field> <br>

      <mat-form-field class="serviceTwoOne">
        <input matInput placeholder="Skills" formControlName="fiveCtrl" required>
      </mat-form-field><br>

      <mat-form-field class="serviceTwoOne">
        <input matInput placeholder="Education" formControlName="sixCtrl" required>
      </mat-form-field><br>

      <mat-form-field class="serviceTwoOne">
        <input matInput placeholder="Website" formControlName="sevenCtrl" required>
      </mat-form-field><br>

      <mat-form-field class="serviceTwoOne">
        <input matInput placeholder="Area"  formControlName="twentyCtrl" (keydown.enter)="$event.preventDefault()" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search formControlName="twentyCtrl" required>
      </mat-form-field><br>

      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)"></agm-marker>
      </agm-map><br>

      <div>
        <button class = "back" mat-button matStepperPrevious>Back</button>
        <button class = "next" mat-button matStepperNext>Next</button>
      </div>

    </form>
  </mat-step>
  <mat-step [stepControl]="formGroup3">
    <ng-template matStepLabel>Media</ng-template>
    <h3>Media</h3>
    <p>Listing Quality: Good quality listings are shown higher in search results and get more leads. </p>
    <div class="serviceFrameMedia">
      <span style="color:red;" *ngIf="message">{{message}}</span>
      <img class="serviceDisplayPhoto" [src]="imgURL" height="200" *ngIf="imgURL">
      <input  class="chooseButton" #file type="file" accept='image/*' (change)="preview(file.files)" />
    </div>
    <div>
      <button id = "backThree" mat-button matStepperPrevious>Back</button>
    </div>
    <div class="submitB">
       <a href="/home" class="submitService" type="submit">Submit</a>
    </div>
  </mat-step>
</mat-vertical-stepper>
