<div class="container">

  <h1 class="signUpFormHeader">Create a new Account</h1>
  <div class="SignUpFormBody">
    <form>

      <div class="firstNameSignUp">
        <input id="firstName" name="name" type="text" placeholder="First Name">
      </div>

      <div class="surNameSignUp">
        <input id="surName" name="surname" type="text" placeholder="Surname">
      </div>

      <div class="emailSignUp">
        <input id="email" name="email" type="email" placeholder="Email">
      </div>

      <div class="passwordSignUp">
        <input id="password" name="password" type="password" placeholder="Password">
      </div>

      <div class="phoneNumberSignUp">
        <input id="number" name="number" type="number" placeholder="Phone Number (optional)">
      </div>

    </form>
    <button type="submit" class="createAnAccountButton">Create an Account</button>
  </div>
</div>
