h1{
  color: black;
  margin-left: 500px;
  margin-top: 50px;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 100;
}
#listingImage{
  margin-top: 30px;
  height: 500px;
  margin-left: 30px;
  border-radius:5px;
}
.listingParagraphOne{
  margin-left: 850px;
  font-size: 20px;
  margin-top: -400px;
}
.listingParagraphTwo{
  font-size: 20px;
  margin-left: 850px;
}
.listingParagraphThree{
  font-size: 20px;
  margin-left: 850px;
}
.listingParagraphFour{
  font-size: 20px;
  margin-left: 850px;
}
.horizontalLineOne{
  margin-top: 50px;
}
.horizontalLineTwo{
  margin-top: 250px;
}
h2{
  margin-left: 500px;
  margin-top: 80px;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 100;
}
.servicesListingButton{
  background-color: orange;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
  margin: 4px 2px;
  cursor: pointer;
  width: 210px;
  height: 70px;
  margin-top: 10px;
  margin-left:100px;
}
.servicesListingButton:hover {
  background: orange;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}
.businessListingButton{
  background-color: orange;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
  margin: 4px 2px;
  cursor: pointer;
  width: 210px;
  height: 70px;
  margin-top: 10px;
  margin-left:300px;
}
.businessListingButton:hover {
  background: orange;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}
.housingListingButton{
  background-color: orange;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
  margin: 4px 2px;
  cursor: pointer;
  width: 210px;
  height: 70px;
  margin-top: 100px;
  margin-left: 100px;

}
.housingListingButton:hover {
  background: orange;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}
.horizontalLineThree{
  margin-top: 30px;
}
