
<section class="main-loader" style="height: 100vh;transition: none; width:100vw;position: fixed;top:0px;background: white;z-index: 2000;">
  </section>
  <section class="small">
    <h3><i *ngIf="showNav" onclick="history.go(-1);return false;" class="fas fa-long-arrow-alt-left"></i>Lifelong families</h3>
    <div class="toggleNav" id="toggleNav">
      <hr>
      <hr>
      <hr>
    </div>
  </section>

  <header id="header" *ngIf="showNav">
    <div class="logo-cont">
      <a href="/home"><img src="./assets/images/LIFELONGLOGO.png" alt="Logo" class="logo"></a>

    </div>

    <div class="log-sign-btn">
      <div>
        <a href="/list" style="display: none">Register your business</a>
        <a href="login">Log In</a><span>|</span>
        <a href="signup">Sign Up</a>
      </div>
    </div>

    <div class="nav" style="display: none">
      <h3>Categories</h3>
      <ul>
        <li class="dropdown">
          <a class="dropBtn">Businesses<i class="fas fa-caret-down"></i></a>
          <div class="dropContent">
            <a>1</a>
            <a href="">2</a>
            <a href="">3</a>
          </div>
        </li>
        <li class="dropdown">
          <a class="dropBtn">Professional Services<i class="fas fa-caret-down"></i></a>
          <div class="dropContent">
            <a>1</a>
            <a href="">2</a>
            <a href="">3</a>
          </div>
        </li>
        <li class="dropdown">
          <a class="dropBtn">Housing<i class="fas fa-caret-down"></i></a>
          <div class="dropContent">
            <a>1</a>
            <a href="">2</a>
            <a href="">3</a>
          </div>
        </li>
      </ul>
    </div>

  </header>

  <div class="loader">
    <img src="assets/images/LIFELONGLOGO.png" alt="logo" width="250px"><br>
    <section class="ball_container_hr">
      <div class="ball_hr"></div>
      <div class="ball_hr"></div>
      <div class="ball_hr"></div>
      <div class="ball_hr"></div>
      <div class="ball_hr"></div>
      <div class="ball_hr"></div>
      <div class="ball_hr"></div>
    </section>
  </div>

<router-outlet></router-outlet>

<footer>
    ￼<ul>
      <h4>Business</h4>
      <li> <a href="/">Businesses near you</a> </li>
      <li> <a href="#">New Businesses</a> </li>
      <li> <a href="/list">Post a Business</a> </li>
      <li> <a href="login">Login</a> </li>
    </ul>
    <ul>
      <h4>Lifelong Families</h4>
      <li> <a href="/list">Register Your Business</a> </li>
      <li> <a href="#">About us</a> </li>
      <li> <a href="#">Contact</a> </li>
      <li> <a href="#">Terms & privacy</a> </li>
      <li> <a href="#"></a> </li>
    </ul>
    <ul>
      <h4>Contacts</h4>
      <li> <a href="#">+254-724-435-465</a> </li>
      <li> <a href="#"></a> </li>
      <li> <a href="#">Facebook</a> </li>
      <li> <a href="#">Twitter</a> </li>
      <li> <a href="#">Intagram</a> </li>
      <li> <a href="#">Linked In</a> </li>
    </ul>
    <a href="#">Copyrights&copy;LifelongFamilies|2019</a>
  </footer>
