<!--The content below is only a placeholder and can be replaced.-->
<section class="land-page">
  <img src="" height="100%">
  <div class="search">
    <p>Choose a category </p>
    <a href="">Businesses</a>
    <a href="">Professional services</a>
    <a href="">Housing</a>
  <form class="search-form">
    <div>
      <input type="text" placeholder="Find  ">
      <input type="text" placeholder="Near ">
    </div>
    <input type="submit" placeholder="Search">
  </form>
</div>

  <section>
    <div class="categories-slideshow">
      <h3>Businesses</h3>
      <button class="prev-btn">Prev</button>
      <button class="next-btn">Next</button>
      <ul>
        <li>IMG 1</li>
        <li>IMG 2</li>
        <li>IMG 3</li>
        <li>IMG 4</li>
        <li>IMG 5</li>
      </ul>
    </div>
    <div class="near-you">
      <h3>Popular Businesses near you</h3>
      <div>
        <img src="" alt="img">
        <h3>Neil's Barber shop</h3>

      </div>
      <div>
        <img src="" alt="img">
        <h3>Neil's Barber shop</h3>

      </div>
      <div>
        <img src="" alt="img">
        <h3>Neil's Barber shop</h3>

      </div>
      <div>
        <img src="" alt="img">
        <h3>Neil's Barber shop</h3>

      </div>
    </div>
    <div class="search-category">
      <h3>Search by category</h3>
      <div><p>Retailer</p></div>
      <div><p>Health Practitioner</p></div>
      <div><p>Distributor (Finished Goods)</p></div>
      <div><p>Food Service</p></div>
      <div><p>Supplier/Raw Ingredient Distributor</p></div>
      <div><p>Manufacturer</p></div>
      <div><p>Business Services</p></div>
      <div><p>Investor</p></div>
    </div>
  </section>

</section>

<router-outlet></router-outlet>
