<h1>Grow your business with LifeLong</h1>
<div class="list">
  <div class="list-image">
    <div class="buttons-sec">
      <h2>What would you like to list?</h2><br>
      <a routerLink="/post-listing/business" class="list-btn btn">Business Listing</a>
      <a routerLink="/post-listing/housing" class="list-btn btn">House Listing</a>
      <a routerLink="/post-listing/service" class="list-btn btn">Service Listing</a>
    </div>
    <img src="assets/images/listingone.jpeg" width="100%">
  </div>

  <div>
    <ul>
      <li>Millions of people in Kenya are looking for businesses like yours.</li>
      <li>Show them why they should choose you.</li>
      <li>Join the community and start telling your story your way.</li>
      <li>Upload photos, write descriptions and let your customers relate to you</li>
    </ul>
  </div>
  
</div>
