<div class="container">

  <h1 class="loginHeader">Login</h1>
  <div class="columone">
    <form >

      <div class="userNameLogin">
        <input id="userName" name="name" type="text" placeholder="User Name">
      </div>

      <div class="passwordLogin">
        <input id="Password" name="password" type="password" placeholder="Password">
      </div>

    </form>
    <p id="fPassord">Forgot your password?</p>
    <button type="submit" class="loginButton">Submit</button>
  </div>
  <div class="vl"></div>
  <div class="columntwo">
    <h1 class="signUpHeader">Create an account</h1>
    <p id="createAccountText">Create your account in just a few clicks! </p>

    <button type="button" class="createAnAccountButton" >Create your account</button>
  </div>
</div>
